<h1>New Entry</h1>

<%= form_with model: @entry, local: true do |form| %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="place_id" value="<%= params[:place_id] %>">

  <div class="form-group">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, id: 'title_input', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_field :description, id: 'description_input', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :occurred_on, class: 'form-label' %>
    <%= form.date_field :occurred_on, id: 'occurred_on_input', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :uploaded_image, class: 'form-label' %>
    <%= form.file_field :uploaded_image, class: 'form-control' %>
  </div>

 <%= form.file_field :file %>
  <%= form.submit %>

  <% if entry.file.attached? %>
  <%= link_to entry.file.filename, url_for(entry.file) %>

<% end %>